body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar.navbar-inverse {
    background-color: #33414b;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-0 {
    margin: 0px;
}

.border-0 {
    border: 0px;
}

.border-5 {
    border: 5px;
}

.center {
    margin: auto;
    width: 10%;
    padding: 10px;
}

.colour-red {
    color: red;
}

.mouse-pointer {
    cursor: pointer;
}